<div class="container">
<h1 class="text-center mt-5">My farm</h1>
  <div class="row">
    <% @animals.each do |animal| %>
    <div class="col-4">

      <%= render "animal_card", animal: animal %>

    </div>
    <% end %>
  </div>
  <div class="container mx-5">
    <div class="row">
      <div class="col-6">
        <h2><strong>My Bookings</strong></h2>

        <% current_user.bookings.each do |booking| %>
        <%= render "booking-cards", booking: booking %>
        <% end %>
      </div>

      <div class="col-6">
        <h2><strong>My clients' bookings</strong></h2>


        <% current_user.others_bookings.each do |booking| %>

        <div id="client-bookings">
          <%= render "clients-bookings", booking: booking %>
        </div>

        <% end %>
      </div>
    </div>
  </div>
</div>

