// Specific CSS for your home-page
.carousel-item {
  font-family: 'Montserrat', sans-serif;
  img {
    object-fit: cover;
    object-position: center;
  }


}
.carousel-project-title {
  position: absolute;
  top: 100px;
  h1 {
    font-size: 40px;
    font-weight: bold;
    text-shadow: 1px 1px #48d69b;
  }
  h3 {
    font-size: 40px;
    font-weight: bolder;
    color: #2c7a5a;
    text-shadow: 1px 1px #e7e7e7;
}
}



.cta-img {
  height: 87vh;
}
