// Specific CSS for your home-page
.carousel-item {
  font-family: 'Montserrat', sans-serif;
  img {
    object-fit: cover;
    object-position: center;
  }
}
.carousel-project-title {
  position: absolute;
  top: 40px;
  h1 {
    font-size: 55px;
    padding-bottom: 13px;
    font-weight: bolder;
    text-shadow: 2px 1px #1d5840;
  }
  h3 {
    font-size: 40px;
    font-weight: bold;
    color: #f4f4f4;
    text-shadow: 2px 1px #495057;
}
}
.cta-img {
  height: 87vh;
}

