.animal-information-wrapper {
  background-color: white;
  margin-top: -70px !important;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 4px;
}

.animal-information h1 {
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: bold;
}

.animal-type-tag {
  color: white;
  padding: 4px 14px;
  font-size: 12px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  margin: 0px 2px;
}

.animal-picture {
  height: 60vh;
  background-size: cover;
  background-position: center;
}

.animal-description {
  margin-top: 25px;
  font-style: italic;
}

.animal-details {
  margin-top: 25px;
  h2 {
    font-size: 18px;
    font-weight: bold;
  }
}

.animal-features {
  padding-left: 12px;
  li {
    margin: 6px 0px;
    font-size: 15px;
    font-style: italic;
  }
  li > i {
    padding-right: 5px;
  }
}
