<div class= "portrait">
<div class= "_conf"> Animal Confirmed</div>
<img src= "https://ichef.bbci.co.uk/news/660/cpsprodpb/B875/production/_102512274_gettyimages-518360318.jpg">
</div>

<h2>Date: <%= @booking.date %></h2>
<h2>Location: <%= @booking.animal.location %></h2>
<h2>Confirmation number: ezfghx16</h2>
<h2>Enjoy your time!!</h2>


