<div id="footer" class="text-center">
  <ul class="list-inline">
    <li class="list-inline-item">
      <a href=""><i class="fab fa-instagram" aria-hidden="true"></i></a>
    </li>
    <li class="list-inline-item">
      <a href=""><i class="fab fa-facebook" aria-hidden="true"></i></a>
    </li>
    <li class="list-inline-item">
      <a href=""><i class="fab fa-twitter" aria-hidden="true"></i></a>
    </li>
  </ul>
  <p>We <i class="fas fa-heart text-red"></i> animals</p>
  </div>
</div>
