<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
  <div class="card-trip-infos">
    <div>
      <h2><%= animal.name %></h2>
      <p><%= animal.animal_type %> | <%= animal.description %></p>
    </div>
    <h2 class="card-trip-pricing">$<%= animal.price %></h2>
    <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/>
  </div>
</div>

