<div class= "sf">
<%= simple_form_for([animal, booking]) do |f| %>
  <div class="datepicker"> <%= f.input :date, as: :string, required: false %></div>
  <%= f.input :location %>
  <%= f.button :submit, 'Confirm', class: "btn btn-primary btn-search-animals"%>
<% end %>
</div>
