<div class= "sf">
<%= simple_form_for([animal, booking]) do |f| %>
  <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
  <%= f.input :location %>
  <%= f.button :submit, 'Confirm', class: "btn btn-primary btn-search-animals"%>
<% end %>
</div>
