.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip {
  min-height: 305px;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.animal-card a {
  text-decoration: none;
  opacity: 0.8;
}

.animal-card {
  margin: 40px 0;
}

.animal-card a:hover {
  opacity: 0.8;
}

.card-trip-pricing {
  white-space: nowrap;
}

.card-trip-infos > div > p {
  width: 90%;
  text-overflow: ellipsis;
  height: 55px;
  overflow: hidden;
}

.animal-card-wrapper {
  width: 40%;
  margin-right: 30px;
}

.other-animals {
  display: flex;
  overflow: scroll;
}

.other-animals-wrapper {
  margin-top: 40px !important;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  h2 {
    margin-bottom: 0px;
    font-size: 30px;
    font-weight: bold;
  }
}

.other-animals-container {
  overflow: hidden;
}


