.btn-search-animals {
  font-size: 14px;
  padding: 2px 14px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  background-color: #49AF67;
  border: 1px solid #49AF67;

}

.btn-search-animals:hover {
  background-color: #2C7A5A;
  border-color: #2C7A5A;
}

.btn-search-therapy{
  margin-top: 150px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bolder;
  padding: 12px 34px;
  background-color: #49AF67;
  border: 1px solid #49AF67;
}

.btn-search-therapy:hover {
  background-color: #2C7A5A;
  border-color: #2C7A5A;
}
