.btn-search-animals {
  font-size: 14px;
  padding: 2px 14px;
  font-weight: bold;
  background-color: #49AF67;
  border: 1px solid #49AF67;
}

.btn-search-animals:hover {
  background-color: #2C7A5A;
  border-color: #2C7A5A;
}
