.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-decoration: none;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bolder;
  color: #2c7a5a;
  margin: 0;
  text-decoration: none;
}

.card-trip p {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #2c7a5a;
  opacity: .7;
  margin: 0;
  text-decoration: none;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
.confirm-btn {
    align-items: left;
    display: flex;
    justify-content: flex-end;
        margin-bottom: -100px;


}


.res {
  color: black;
  font-size: 15px;
  text-decoration: underline;
}
