.show-container {
 margin-left: 10%;

 width: 50%;

}

.wrapper {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.booking-form {

  margin: 10%
}
