.navbar-lewagon {
 position: sticky;
 top: 0;
 z-index: 1000;
 justify-content: space-between;
 background-color: #49AF67;
 height: 50px;
 font-family: 'Montserrat', sans-serif;
 img {
  vertical-align: middle;
}
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  padding: 8px;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  padding: 10px;
  a {
    color: #26282A;
  }
}

.nav-item a:hover {
  color: #2C7A5A;
}


.navbar-brand img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}


 .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
 color: #f4f4f4;
 font-weight: bolder;
}

.navbar-light .navbar-nav .nav-link {
  color: #f4f4f4;
 font-weight: bolder;
}
