.navbar-lewagon {
  justify-content: space-between;
  background: white;
  img {
    vertical-align: middle;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
   padding: 8px;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
padding: 10px;
  a {
    color: white;
  }
}

.nav-item a:hover {
  color: #2C7A5A;
}


.navbar-brand img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}


.navbar-lewagon {
  background-color: $a;
}

