<div class="footer d-flex">
  <div class="justify-content-between">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    We <i class="fas fa-heart"></i> animals
  </div>
</div>
